.itemCard{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

        #quantity{
            height: 15px;
        }
}

main{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 300px;
    max-width: 400px;

    h1{
        padding-left: 0.5rem;
    }
}

.addform{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

#shoppinglist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}